name: Cypress Tests

on:
    push:
        branches:
            - master
    workflow_dispatch: # Permite executar manualmente

jobs:
    cypress-run:
        name: Cypress Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '24.11.1'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Create cypress.env.json
              run: |
                  echo '{
                    "USER_EMAIL": "${{ secrets.USER_EMAIL }}",
                    "USER_PASSWORD": "${{ secrets.USER_PASSWORD }}",
                    "PRICING_BFF_STAGING_URL": "${{ secrets.PRICING_BFF_STAGING_URL }}",
                    "MADEIRAMADEIRA_PRODUCTION_URL": "${{ secrets.MADEIRAMADEIRA_PRODUCTION_URL }}",
                    "AUTHORIZATION_TOKEN_STAGING": "${{ secrets.AUTHORIZATION_TOKEN_STAGING }}"
                  }' > cypress.env.json

            - name: Run Cypress tests
              uses: cypress-io/github-action@v6
              with:
                  command: npm run test:headless
                  browser: chrome
                  headless: true

            - name: Upload screenshots
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                  name: cypress-screenshots
                  path: reports/html/**/*.png
                  retention-days: 7

            - name: Upload reports
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: cypress-reports
                  path: reports/html
                  retention-days: 30
